<%- include('../partials/header'); %>
<div class="container">
        <h1>Edit <%= campground.name %></h1>

        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
            <div class="form-group">
              <label for="campgroundName">Campground Name</label>
              <input type="text" class="form-control" id="campgroundName" name="campground[name]" value="<%= campground.name %>">
            </div>
            <div class="form-group">
              <label for="campgroundPrice">Campground Price</label>
              <input type="number" class="form-control" id="campgroundPrice" name="campground[price]" value="<%= campground.price %>" min="0.01" step="0.01">
            </div>
            <div class="form-group">
              <label for="campgroundImg">Image url</label>
              <input type="text" class="form-control" id="campgroundImg" name="campground[img]" value="<%= campground.img %>">
            </div>
            <div class="form-group">
                <label for="campgroundDescription">Description</label>
                <input type="text" class="form-control" id="campgroundDescription" name="campground[description]" value="<%= campground.description %>">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        
        <a href="/campgrounds">Go back</a>
</div>
<%- include('../partials/footer'); %>